@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vgwk27');
  src:  url('fonts/icomoon.eot?vgwk27#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vgwk27') format('truetype'),
    url('fonts/icomoon.woff?vgwk27') format('woff'),
    url('fonts/icomoon.svg?vgwk27#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scratch:before {
  content: "\e900";
}
.icon-devpost:before {
  content: "\e903";
}
