/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */ 

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161616;
}

@font-face {
  font-family: 'gravity';
  src: url('/fonts/gravity/Gravity-Book.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.gravity {
  font-family: 'gravity', sans-serif;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Header */

.site-header {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  margin: 0 20px;

  justify-content: space-between;

  border-bottom: 1px solid #393939
}

.site-header nav ul {
  display: flex;
  gap: clamp(4vw, 4vw, 1vw);
  list-style: none;
}

.site-header a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #919191;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-header a:hover {
  color: white;
}

.logo { 
  height: 60px;
  width: 60px;
  position: relative;
  margin: 6px 0;
}

.normal-logo, .hovered-logo {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  border-radius: 4px;
  
  transition: mask 0.3s ease, transform 0.3s ease;
}

.normal-logo {
  filter: brightness(0) invert(1);

  mask: linear-gradient(135deg, black 40%, black 60%, transparent 50%);
  mask-size: 370% 100%;
  mask-position: left;
}

.hovered-logo {
  background-color: white;
  filter: none;

  mask: linear-gradient(135deg, transparent 50%, black 60%, black 40%);
  mask-size: 370% 100%;
  mask-position: left;
}

.logo:hover .normal-logo,
.logo:hover .hovered-logo {
  transform: scale(1.1);
  mask-position: right;
}

/* Name Animation */

.intro-container {
  border: 2px solid white !important;

  margin: 4rem auto 0;

  position: relative;
  width: 74%;
  height: 30rem;
}

.name-card {
  border: 2px solid white !important;

  position: relative;
  width: 100%;
  height: clamp(2.5rem, 8.5vw, 8.5vw);
}

#name-solid {
  position: absolute;
  border: 2px solid white !important;
  color: white;

  font-size: clamp(4rem, 7vw, 7vw);

  display: inline-block;
  right: 50%;
  left: 0%;

  transition: mask 0.8s cubic-bezier(.01,.75,.17,.99);
  mask: linear-gradient(90deg, black 50%, transparent 50%);
  mask-size: 200% 100%;
  mask-position: right;
}

#name-solid.active {
  mask-position: left;
}

#typewriter {
  position: absolute;
  border: 2px solid white !important;
  color: #ffffff;

  display: inline-block;
  right: 50%;
  left: 0%;

  font-size: clamp(2.5rem, 5vw, 10rem);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;

  text-align: left;
  text-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
}

#typewriter.hidden {
  display: none;
}

.ti-cursor {
  font-weight: 100;
  color: white;
  position: relative;
  animation: none !important;
  box-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
}

.ti-cursor.vim-normal {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important;
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-command {
  position: absolute;
  opacity: 1 !important;
  margin-left: 0.3em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important; 
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-replace {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em;
  width: 0.6em !important;
  margin-top: 1.10em;
  border-bottom: 0.15em solid white !important;
  animation: none !important;
}

#introduction {
  border: 2px solid white !important;
  color: white;

  position: absolute;
  display: inline-block;
  left: 50%;
  right: 0%;

  font-size: 30px;
}

#socials{
  border: 2px solid white !important;

  width: 40%;
  margin-left: 5%;
  height: 10em;

  position: relative;
}

#socials nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.social-button {
  border: 1px solid white !important;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;

  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;

  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  background-color: #161616;
  border-radius: 25px;

  align-items: center;
  text-align: center;
}

.social-button i {
  font-size: 25px;
  width: 25px;
}

.social-button .button-text {
  font-size: 20px;
  font-weight: 500;
}

.social-button:hover {
  box-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
  text-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
}

.social-button:hover .devpost-logo {
  filter: drop-shadow(0 0 2px #ffffff)
          drop-shadow(0 0 5px #d0d0d0)
          drop-shadow(0 0 10px #525252)
          invert(1);
}

.social-button:hover .scratch-logo {
  filter: drop-shadow(0 0 2px #ffffff)
          drop-shadow(0 0 5px #d0d0d0)
          drop-shadow(0 0 10px #525252)
          grayscale(100%);
}

.devpost-logo {
  height: 18px;
  width: 18px;
  margin: 0 2px 0 0;
  filter: invert(1);
}

.scratch-logo {
  height: 18px;
  width: 18px;
  margin: 0 2px 0 0;
  filter: grayscale(100%);
}

.site-footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #393939;
  border-top: 1px solid #393939;
}

