/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161616;
}

@font-face {
  font-family: 'gravity';
  src: url('/fonts/gravity/Gravity-Book.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.gravity {
  font-family: 'gravity', sans-serif;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Header */
.site-header {

  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  margin: 0 20px;

  justify-content: space-between;

  border-bottom: 1px solid #393939

  /*display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1px;
  background-color: #393939;
  width: 100%;
  margin: 0 auto;
  
  position: relative;
  margin-top: 1rem; 
  margin-bottom: 2rem; 
  
  opacity: 0.5;
  border: none;


  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;*/
}

.site-header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header a {
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  order: 1;
}
/*
.logo img {
  height: 40px;
  width: auto;
  display: block;
  order: 2;
}*/

.logo img {
  height: 60px;
  fill: white;
  stroke: white;
  order: 2;
}

.white-icon {
  filter: brightness(0) invert(1);
}

/* Main */
main {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* Name Animation */

.name-card {
  margin: 4rem auto;
  border: 2px solid white !important;
  height: 20em;
}

#name-solid {
  border: 2px solid white !important;
  margin: 0 15vw;
  color: white;

  width: 85vw;
  height: 1em;
  font-size: clamp(2.5rem, 7vw, 10rem);
  text-align: left;
}

#name-solid.hidden {
  display: none;
}

#typewriter {
  margin: 0 15vw;
  color: #ffffff;

  width: 85vw;
  height: 1em;
  border: 2px solid white !important;

  font-size: clamp(2.5rem, 5vw, 10rem);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;

  text-align: left;
}

#typewriter.hidden {
  display: none;
}

.ti-cursor {
  font-weight: 100;
  color: white;
  position: relative;
  animation: none !important; 
}

.ti-cursor.vim-normal {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important;
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-command {
  position: absolute;
  opacity: 1 !important;
  margin-left: 0.4em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important; 
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-replace {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em;
  width: 0.6em !important;
  margin-top: 1.10em;
  border-bottom: 0.15em solid white !important;
  animation: none !important;

.introduction {
  
}

.site-footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #393939;
  border-top: 1px solid #393939;
}

