/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */ 

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161616;
}

@font-face {
  font-family: 'gravity';
  src: url('/fonts/gravity/Gravity-Book.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.gravity {
  font-family: 'gravity', sans-serif;
}

@font-face {
  font-family: 'logos';
  src: url('/fonts/icomoon/fonts/icomoon.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.scratch:before {
  content: "\e900";
  font-family: 'logos';
  font-style: normal;
  font-weight: normal;
}

.devpost:before {
  content: "\e903";
  font-family: 'logos';
  font-style: normal;
  font-weight: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Header */

.site-header {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  margin: 0 20px;

  justify-content: space-between;

  border-bottom: 1px solid #393939
}

.site-header nav ul {
  display: flex;
  gap: clamp(1vw, 5vw, 5vw);
  list-style: none;
}

.site-header a {
  font-size: 13px;
  letter-spacing: 1px;
  color: #919191;
  text-decoration: none;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}

.site-header a:hover {
  color: white;
  text-shadow: 0 0 1px #ffffff, 0 0 3px #d0d0d0, 0 0 5px #525252;
}

.logo { 
  height: 60px;
  width: 60px;
  position: relative;
  margin: 6px 0;
}

.normal-logo, .hovered-logo {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  border-radius: 4px;
  
  transition: mask 0.3s ease, transform 0.3s ease;
}

.normal-logo {
  filter: brightness(0) invert(1);

  mask: linear-gradient(135deg, black 40%, black 60%, transparent 50%);
  mask-size: 370% 100%;
  mask-position: left;
}

.hovered-logo {
  background-color: white;
  filter: none;

  mask: linear-gradient(135deg, transparent 50%, black 60%, black 40%);
  mask-size: 370% 100%;
  mask-position: left;
}

.logo:hover .normal-logo,
.logo:hover .hovered-logo {
  transform: scale(1.1);
  mask-position: right;
}

/* Name Animation */


#name-solid,
#introduction,
#socials {
  transition: mask 0.8s cubic-bezier(.01,.75,.17,.99);
  mask-image: linear-gradient(90deg, black 50%, transparent 50%);
  mask-size: 200% 100%;
  mask-position: left;
}

#name-solid.hidden-mask,
#introduction.hidden-mask,
#socials.hidden-mask{
  mask-position: right;
}

/* Debugging Boxes */
.intro-container,
.name-card,
#typewriter-name,
#typewriter-intro,
#introduction,
#socials,
.picture {
  /*border: 1px solid white !important;*/
}

#typewriter-name,
#typewriter-wq,
#typewriter-intro,
#typewriter-socials,
#typewriter-pfp,
#ascii-pfp {
  border: 1px solid white !important;
  /*text-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252 !important;*/
}

.ti-cursor{
  /*box-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
  text-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;*/
}

#typewriter-wq {
  width: 20vw;
  border: 1px solid white !important;
}

.intro-container {
  margin: 4rem auto 0;

  position: relative;
  width: 60%;
  height: 30rem;
}

.name-card {
  width: 37vw;
  position: relative;
  height: clamp(2.5rem, 8.5vw, 8.5vw);
}

#name-solid {
  position: absolute;
  color: white;

  font-size: clamp(4rem, 7vw, 7vw);

  display: inline-block;

}

#typewriter-wq {
  position: absolute;
  color: white;

  font-size: clamp(4rem, 7vw, 7vw);

  display: inline-block;
}

#typewriter-name {
  color: #ffffff;


  font-size: clamp(2.5rem, 5vw, 10rem);
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;

  text-align: left;
}
#container {
  perspective: 1000px;
}

.bigtest {
  position: absolute;
  top: 0%;
  left: 62%;

  color: white;
  padding: 20px;
}
#test {
  width: 22vw;
  height: 22vw;
  background-color: white;
  border-radius: 4vw;

  float: right;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 3D setup */
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.invisible {
  opacity: 0;
}

#test .lilguy {
  width: 20vw;
  height: 20vw;
  background: white;
  border-radius: 4vw;
  float:right;

  transform: translateZ(50px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);

  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#typewriter-pfp {
  color: white;
  
  font-size: 1vw;
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
}

#ascii-pfp{
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.1;
  margin-left: 6px;
  color: white;
  font-size: 3px;
  white-space: pre;
}

.ti-cursor {
  font-weight: 100;
  color: white;
  position: relative;
  animation: none !important;
}

.ti-cursor.vim-normal {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important;
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-command {
  position: absolute;
  opacity: 1 !important;
  margin-left: 0.3em; 
  width: 0.6em !important;
  margin-top: 0.15em;
  mix-blend-mode: difference;
  border-top: 1.1em solid white !important; 
  background-color: white;
  animation: none !important; 
}

.ti-cursor.vim-replace {
  position: absolute;
  opacity: 1 !important;
  margin-left: -0.48em;
  width: 0.6em !important;
  margin-top: 1.10em;
  border-bottom: 0.15em solid white !important;
  animation: none !important;
}

#typewriter-intro {
  color: white;
  font-size: 1vw;
  padding: 10px;
}

#introduction {
  color: white;

  display: inline-block;

  font-size: 1vw;
  padding: 10px;

}
.hidden {
  display: none !important;
}

#socials{
  padding: 15px;
  height: 10em;

  position: relative;
}

#typewriter-socials{
  color: white;
  padding: 10px;
  font-size: 1vw;
  white-space: pre;
}

#socials nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  list-style: none;
}

.social-button {
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;

  font-family: Arial, sans-serif;

  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  background-color: #161616;
  border-radius: 25px;

  align-items: center;
  text-align: center;
}

.social-button i {
  position: relative;
  font-size: clamp(15px, 1vw, 1vw);
  width: 25px;
  display: inline-flex;
  line-height: 1;
  justify-content: center;
}

.social-button .button-text {
  font-size: clamp(12px, 0.8vw, 0.8vw);
  font-weight: 400;
  padding: 4px;
}

.social-button:hover {
  box-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
  text-shadow: 0 0 2px #ffffff, 0 0 5px #d0d0d0, 0 0 10px #525252;
}

.devpost-logo {
  height: clamp(15px, 1vw, 1vw);
  width: clamp(15px, 1vw, 1vw);
  margin: 0 2px 0 0;
  filter: invert(1);
}

.scratch-logo {
  height: clamp(15px, 1vw, 1vw);
  width: clamp(15px, 1vw, 1vw);
  margin: 0 2px 0 0;
  filter: grayscale(100%);
}

.social-button:hover .devpost-logo {
  filter: drop-shadow(0 0 2px #ffffff)
          drop-shadow(0 0 5px #d0d0d0)
          drop-shadow(0 0 10px #525252)
          invert(1);
}

.social-button:hover .scratch-logo {
  filter: drop-shadow(0 0 2px #ffffff)
          drop-shadow(0 0 5px #d0d0d0)
          drop-shadow(0 0 10px #525252)
          grayscale(100%);
}

.site-footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #393939;
  border-top: 1px solid #393939;
}

