---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} — Luca` : 'Blog — Luca'}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <header class="site-header gravity">
      <div class="logo">
        <div class="normal-logo">
          <a href="/">
            <img src="/images/logo.svg" alt="LP Website"/>
          </a>
        </div>
        <div class="hovered-logo">
          <a href="/">
            <img src="/images/logo.svg" alt="LP Website"/>
          </a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/resume">RESUME</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </header>

    <main class="blog-main">
      <slot />
    </main>

    <footer class="site-footer">
      &copy; 2026 Luca
    </footer>
  </body>
</html>
